input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100x;
	height: 25px;
}

button {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

#psearch {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);  
    z-index: 1;
}

input::placeholder {
    color: gray;
    font-style: italic;
    opacity: 0.7;
  }

#toilet {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);  
    opacity: 0.6;
}


#wrapper {
    background-color: #014034;
    width: 1020px;
    height: 780px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 1px;
}

#Search {
    position: absolute;
    background-color: violet;
    left: 5%;
    height: 500;
}

#Thinking-Emoji {
    position: absolute;
    top: 52%;
    left: 25%;
    transform: translate(-50%, -50%);  
    opacity: 0.6;
}

#Thinking-Emoji-2 {
    position: absolute;
    top: 52%;
    left: 75%;
    transform: translate(-50%, -50%);  
    opacity: 0.6;
}

