<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <script src="../static/js/template.js"></script>
    <title>Document</title>
</head>
<body>
   <div id="wrapper">
        <div id = "Search">
            <h2 id="searched_item">{{item}}</h2>
            <h2 id="search2">Kan det skylles?</h2>

            <input id="searchInput" placeholder="Indtast her">

            <button id="searchButton">Search</button>

            <div id="resultContainer"></div>


            <div id="fun_fact">
                <h1>
                    Fun Fact
                </h1>
                <div id="fun_tekst">
                </div>
            </div>
        </div>
        <div id="janej">
            <h6>
                Kan det skyldes?
            </h6>
            <div id="ja"></div>
        </div>
        <div id="konskvens">
            <h6>
                Konskvenser
            </h6>
            <div id="konskvenst"></div>
        </div>
        <div id="similar">
            <h6>
                Lignende gendstande
            </h6>
            <div id="similart"></div>
        </div>
        <div id="source">
            <h6>
                Kilder
            </h6>
            <div id="sourcet"></div>
        </div>
   </div>
   <!--<script src="../js/script.js"></script>-->
   <a id="item">
    {{item}}
   </a>
   <script src="../static/js/script.js"></script>
   <!-- Add this inside the body, where you want the red box to appear -->
   <div id="redBox" style="display: none; background-color: red; color: white; width: 100%; height: 100px; text-align: center; line-height: 100px; font-size: 24px;">
    Dette må ikke skylles ud!
</div>
<!-- Add this inside the body, where you want the green box to appear -->
<div id="greenBox" style="display: none; background-color: green; color: white; width: 100%; height: 100px; text-align: center; line-height: 100px; font-size: 24px;">
    Dette må skylles ud!
</div>
</body>
</html>