<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <script src="../static/js/template.js"></script>
    <title>Document</title>
</head>
<body>
   <div id="wrapper">
        <div id = "Search">
            <h2 id="searched_item">{{item}}</h2>
            <h2 id="search2">Kan det skylles?</h2>

            <input id="searchInput" placeholder="Indtast her">

            <button id="searchButton">Search</button>

            <div id="resultContainer"></div>


            <div id="fun_fact">
                <h1>
                    Fun Fact
                </h1>
                <div id="fun_tekst">
                </div>
            </div>
        </div>
        <div id="janej">

        </div>
        <div id="konskvens">
            
        </div>
        <div id="similar">

        </div>
        <div id="source">

        </div>
   </div>
   <!--<script src="../js/script.js"></script>-->
   <a id="item">
    {{item}}
   </a>
   <script src="../static/js/script.js"></script>
</body>
</html>